.work-col {
	display: flex;
	flex-direction: row;
    gap: 5rem;
}

.button {
	position: relative;

    display: inline-flex;
    border: none;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;



	
	place-content: center;
	// padding: 0.56em 2em;
	padding: 1.125rem 2.5rem;
	gap: 0.8em;
	color: var(--accent-text-over);
	
	line-height: 1.1;
	border-radius: 999rem;
	overflow: hidden;
	
	box-shadow: var(--shadow-md);
	white-space: nowrap;
	font-family: var(--font-accent);
	font-weight: 700;
}

@media (min-width: 20em) {
	.button {
		font-size: var(--text-lg);
	}
}

/* Overlay for hover effects. */
.button::after {
	content: '';
	position: absolute;
	inset: 0;
	pointer-events: none;
	transition: background-color var(--theme-transition);
	mix-blend-mode: overlay;
}

.button:focus::after,
.button:hover::after {
	background-color: hsla(var(--gray-999-basis), 0.3);
}

@media (min-width: 50em) {
	.button {
		padding: 1.125rem 2.5rem;
	}
}


