/* Global variables */
:root {
	/* Colors */
	--gray-0: #090b11;
	--gray-50: #141925;
	--gray-100: #283044;
	--gray-200: #3d4663;
	--gray-300: #505d84;
	--gray-400: #6474a2;
	--gray-500: #8490b5;
	--gray-600: #a3acc8;
	--gray-700: #c3cadb;
	--gray-800: #e3e6ee;
	--gray-900: #f3f4f7;
	--gray-999-basis: 0, 0%, 100%;
	--gray-999_40: hsla(var(--gray-999-basis), 0.4);
	--gray-999: #ffffff;

	--accent-light: #585cf2;
	--accent-regular: #4c5af4;
	--accent-dark: #1c0056;
	--accent-overlay: hsla(235, 88%, 63%, 0.33);
	--accent-subtle-overlay: var(--accent-overlay);
	--accent-text-over: var(--gray-999);

	--link-color: var(--accent-regular);

	/* Gradients */
	--gradient-bg: linear-gradient(89.81deg,#9845e8 -1.72%, #33d2ff 54.05%, #dd5789 99.78%);

	/* Shadows */
	--shadow-sm: 0px 6px 3px rgba(9, 11, 17, 0.01), 0px 4px 2px rgba(9, 11, 17, 0.01),
		0px 2px 2px rgba(9, 11, 17, 0.02), 0px 0px 1px rgba(9, 11, 17, 0.03);
	--shadow-md: 0px 28px 11px rgba(9, 11, 17, 0.01), 0px 16px 10px rgba(9, 11, 17, 0.03),
		0px 7px 7px rgba(9, 11, 17, 0.05), 0px 2px 4px rgba(9, 11, 17, 0.06);
	--shadow-lg: 0px 62px 25px rgba(9, 11, 17, 0.01), 0px 35px 21px rgba(9, 11, 17, 0.05),
		0px 16px 16px rgba(9, 11, 17, 0.1), 0px 4px 9px rgba(9, 11, 17, 0.12);

	/* Text Sizes */
	--text-xsm: 0.6rem;
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-md: 1.125rem;
	--text-lg: 1.25rem;
	--text-xl: 1.625rem;
	--text-2xl: 2.125rem;
	--text-3xl: 2.625rem;
	--text-4xl: 3.5rem;
	--text-5xl: 4.5rem;

	--fw-light: 300;
	--fw-regular: 500;
	--fw-bold: 700;
	--fw-black: 800;

	--fs-400: 1.125rem;
	--fs-500: 1.25rem;
	--fs-600: 1.5rem;
	--fs-700: 1.75rem;
	--fs-800: 2rem;
	--fs-900: 5rem;

	/* Fonts */
	--font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-body: 'Lato', var(--font-system);
	--font-accent: "Outfit", var(--font-system);

	/* Transitions */
	--theme-transition: 0.2s ease-in-out;

	--container-max-width: 64rem;
	--container-max-width-narrow: 40rem;
	--container-max-width-wide: 75rem;
}



.fw-bold {
	font-weight: var(--fw-bold);
}

body {
	background-color: var(--gray-999);
	color: var(--gray-50);
	font-family: var(--font-body);
	font-weight: var(--fw-regular);
	font-size: 0.875rem;
}

a {
	color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.1;
	font-family: var(--font-accent);
	font-weight: 600;
	color: var(--gray-100);
}

body.theme-dark h1,
body.theme-dark h2,
body.theme-dark h3,
body.theme-dark h4,
body.theme-dark h5 {
	color: #fff;
}

.heading-1 {
	font-size: var(--text-5xl);
}

.heading-2 {
	font-size: var(--text-4xl);
}

.heading-3 {
	font-size: var(--text-3xl);
}

.heading-4 {
	font-size: var(--text-2xl);
}

.heading-5 {
	font-size: var(--text-xl);
}

/* Utilities */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.stack {
	display: flex;
	flex-direction: column;
}


/* gradient heading */
.gradient-text {
	background: var(--gradient-bg);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	background-size: 150% 150%;
	animation: gradient 15s ease infinite;
}

.gradient-bg {
	background: var(--gradient-bg);
	background-size: 800% 150%;
	animation: gradient 35s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}




.button {
	position: relative;
	display: inline-flex;
	border: none;
	margin: 0;
	text-decoration: none;
	background: #0069ed;
	color: #ffffff;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out,
		transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
	place-content: center;
	padding: 1.125em 2.5em;
	gap: 0.8em;
	line-height: 1.1;
	border-radius: 999rem;
	overflow: hidden;

	white-space: nowrap;
	font-family: var(--font-accent);
	font-weight: 700;
}



/* Overlay for hover effects. */
.button::after {
	content: '';
	position: absolute;
	inset: 0;
	pointer-events: none;
	transition: background-color var(--theme-transition);
	mix-blend-mode: overlay;
}

.button:focus::after,
.button:hover::after {
	background-color: hsla(var(--gray-999-basis), 0.3);
}




.nowrap {
	white-space: nowrap;
}



.container {
	--padding: 1rem * 2;
	--max-width: var(--container-max-width);

	width: min(100% - var(--padding), var(--max-width));
	margin-inline: auto;
}

.container[data-type="narrow"] {
	--max-width: var(--container-max-width-narrow);
}

.container[data-type="wide"] {
	--max-width: var(--container-max-width-wide);
}

.container[data-type="full-bleed"] {
	--max-width: 100%;
	--padding: 0;
}


.text-center {
	text-align: center;
}


.flex-group {
	display: flex;
	flex-wrap: wrap;
}



.flow>*:where(:not(:first-child)) {
	margin-top: 1em;
}

.section-spacer {
	margin: 6rem 0;
}


@media (min-width: 20em) {
	.button {
		font-size: var(--fs-300);
	}
}



@media (min-width: 50em) {
	.button {
		padding: 1.125em 2.5em;
	}
}