---
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroContent from '../components/HeroContent.astro';
---

<BaseLayout title="Not Found" description="404 Error — this page was not found">
	<HeroContent pageTitle='Not Found' pageSummary='404 Error — this page was not found.' />
<main class="container">
	
</main>
</BaseLayout>
