---
import { getCollection } from "astro:content";

import { Icon } from "astro-icon";

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import CallToAction from "../components/CallToAction.astro";
import Grid from "../components/Grid.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";

// Page section components
import ContactCTA from "../components/ContactCTA.astro";
import Skills from "../components/Skills.astro";

// Content Fetching: List four most recent work projects
const projects = (await getCollection("work"))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout bodyclass="home">
  <section class="hero">
    <div class="container" data-type="wide">
      <div class="hero-content">
        <div class="greeting gradient-text fw-bold ff-accent">
          Jason <br />Crichton
        </div>
        <p class="overview">
          I am a <span class="fw-bold">creative technology leader</span> with over
          two decades of marketing / IT experience in the <span
            class="fw-bold nowrap">e-commerce</span
          > industry who is currently based in Chicago, Illinois.
        </p>
      </div>
    </div>
  </section>

  <div class="container" data-type="wide">
    <main>
      <Skills />
      <section class="section-spacer">
        <header class="text-center flow">
          <h3 class="heading-1 ff-accent gradient-text">Selected Work</h3>
          <p>
            Take a look below at some of my featured work for clients from the
            past few years.
          </p>
        </header>

        <div class="gallery">
          <Grid>
            {
              projects.map((project) => (
                <li>
                  <PortfolioPreview project={project} />
                </li>
              ))
            }
          </Grid>
        </div>

        <div class="cta text-center">
          <CallToAction href="/work/">
            View All Work
            <Icon name="ph:arrow-right" width="1.2em" />
          </CallToAction>
        </div>
      </section>

      <section class="section-spacer">
        <header class="text-center flow">
          <h3 class="heading-1 gradient-text">Awards</h3>
          <p>
            In my career, I've contributed to a number of award-winning
            projects. I have been blessed to work with great teams and the
            recognition it brings.
          </p>
        </header>

        <section class="flex-group awards">
          <Icon name="awards/aiga" />
          <Icon name="awards/davey-new" />
          <Icon name="awards/w3" />
          <Icon name="awards/web" />
          <Icon name="awards/webby" />
        </section>
      </section>
    </main>
  </div>

  <ContactCTA />
</BaseLayout>

<style>
  .awards {
    gap: 4rem;
    padding: 4rem;
    justify-content: center;
    width: 100%;
  }

  .awards svg {
    width: 100px;
    height: 100px;
  }

  .hero {
    height: 100vh;

    background-repeat: no-repeat, no-repeat;
    background-position: center bottom -200px, center bottom;
    background-size: cover;
    background-attachment: scroll;

    display: flex;
    background-color: #fff;

    background-image: url("./assets/hero.png"), linear-gradient(#fff, #eee);
  }

  @supports (background-image: url("./assets/hero.webp")) {
    .hero {
      background-image: url("./assets/hero.webp"), linear-gradient(#fff, #eee);
    }
  }

  #mainnav {
    position: absolute;
  }

  .hero-content {
    margin-top: 5.5rem;
  }

  .greeting {
    font-size: clamp(3rem, -0.875rem + 8.333vw, 5rem);
    font-family: var(--font-accent);
    color: var(--gray-0);
    line-height: 1;
  }

  .gallery {
    margin: 2rem 0;
  }

  .overview {
    font-size: clamp(1rem, -0.875rem + 8.333vw, 1rem);
    margin-top: var(--flow-spacer, 1em);
  }

  @media (min-width: 60em) {
    .hero {
      background-position: bottom right -100px, bottom right;
      background-size: contain;
      background-attachment: fixed;
      height: 80vh;
    }

    .hero-content {
      width: 50%;
      margin-top: 15rem;
    }
  }

  .mention-card {
    display: flex;
    height: 7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    color: var(--gray-300);
    background: var(--gradient-subtle);
    box-shadow: var(--shadow-sm);
  }

  @media (min-width: 50em) {
    .mention-card {
      border-radius: 1.5rem;
      height: 9.5rem;
    }
  }

  #cursor {
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 50px;
    background-color: orange;
    animation: blink 0.75s step-end infinite;
  }

  @keyframes blink {
    from,
    to {
      background-color: transparent;
    }
    50% {
      background-color: orange;
    }
  }
</style>
