---
import CallToAction from './CallToAction.astro';
import { Icon } from 'astro-icon';
---

<aside class="container" data-type="wide">
	<h2 class="heading-3 ff-accent">Interested <br>in connecting?</h2>
	<CallToAction href="/contact/">
		Send Me a Message
		<Icon name="ph:paper-plane-tilt" width="1.2em" />
	</CallToAction>
</aside>

<style>
	aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		border-top: 1px solid #333;
		border-bottom: 1px solid #333;
		padding: 3rem 1.5rem;
	}

	@media (min-width: 50em) {
		aside {
			padding: 5rem 10rem;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
</style>
