---
import { Icon } from 'astro-icon';
const currentYear = new Date().getFullYear();
---

<footer class="container" data-type="wide">
	<div>
		<p>&copy; {currentYear} Jason Crichton</p>
	</div>
	<p class="socials">
		<a href="https://www.linkedin.com/in/jason-crichton/"><Icon name="mdi:linkedin" /> Let's Connect</a>
	</p>
</footer>
<style>
	footer {
		display: flex;
		flex-direction: column;
		padding: 2rem 0;
		text-align: center;
	}

	footer a {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	footer a:hover,
	footer a:focus {
		text-decoration-color: currentColor;
	}

	.socials a {
		display: inline-flex;
		align-self: center;
	}

	.socials svg {
		height: 1.25em;
		width: 1.25em;
		top: .125em;
    	position: relative;
	}

	@media (min-width: 50em) {
		footer {
			flex-direction: row;
			justify-content: space-between;
		}

		.group {
			flex-direction: row;
			gap: 1rem;
			flex-wrap: wrap;
		}

		.socials {
			justify-content: flex-end;
		}
	}
</style>
