---
interface Props {
	greeting: string;
	overview?: string;
	align?: 'start' | 'center';
}

const { align = 'center', overview, greeting } = Astro.props;
---

<section class:list={['hero stack gap-4', align]}>
	<div class="hero-content">
		
		<div class="greeting gradient-text">I ❤️ <span id="text"></span><span id="cursor"></span></div>
		{overview && <h1 class="overview">{overview}</h1>}
	</div>
	<slot />
</section>

<style>
	.hero {
		height: 70dvh;
		background: url('./assets/hero-01.jpg') no-repeat;
		background-position: center bottom -100px;
		background-size: cover;
		/* position: fixed; */
		display: flex;
		justify-content: center;
		width: 100%;
		padding-inline: 1.5rem;
	}


	.hero-content {

	}

	.greeting {
		/* font-size: var(--text-xl); */
		
		font-size: clamp(3rem, -0.875rem + 8.333vw, 5rem);
		font-family: var(--font-accent);
		color: var(--gray-0);
		line-height: 1.5;
	}

	.overview {
		font-size: clamp(1rem, -0.875rem + 8.333vw, 1rem);
		font-weight: 400; 
		font-family: var(--font-base);
		width: 60%;
	}

	@media (min-width: 50em) {
		.hero {
			background-position: bottom right;
			background-size: contain;
		}
	}
</style>
