---
import '../styles/reset.css';
import '../styles/global.css';
// import '../styles/sass/main.scss';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const {
	title = 'Jason Crichton: Creative Technology Leader',
	description = 'I am a creative technology leader with over two decades of marketing / IT experience in the e-commerce industry who is currently based in Chicago, Illinois.',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>


<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="icon" type="image/png" href="/favicon-dark.png" media="(prefers-color-scheme: dark)">

<meta name="theme-color" content="#ffffff" />


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Outfit:wght@300;600&display=swap" rel="stylesheet">
