---
import { Icon } from 'astro-icon';
---

<section class="skills">
	<div>
		<Icon name="ph:crown-bold" width="1.33em" /> 
		<h2>Technical / Creative Leader</h2>
		<p>I am dedicated to leading fast-paced teams and projects with a hands-on approach, setting a good example, and keeping business expectations honest in terms of time and budget.</p>
	</div>
	<div>
		<Icon name="ph:code" width="1.33em" /> 
		<h2>Front-end Developer</h2>
		<p>I am a problem solver and lifelong learner, I combine innovative thinking with technical expertise to design and build unique and interactive solutions. </p>
	</div>
	<div>
		<Icon name="ph:pencil-line" width="1.33em" /> 
		<h2>UI/UX Design</h2>
		<p>As a user-centric designer, I mainly focus on empathy, user research and data, and creative problem-solving for delivering successful and impactful user experiences.</p>
	</div>

</section>

<style>
	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin-top: 4rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
