---
import { Icon } from 'astro-icon';
---

<section class="box skills">
	<div class="">
		<Icon name="ph:code" width="1.33em" /> 
		<h2>Developer</h2>
		<p>I've built my way through working with teams to leading. I still love to roll up my sleeves and dive in.</p>
	</div>
	<div class="">
		<Icon name="ph:pencil-line" size="1.33em" /> 
		<h2>UI/UX Design</h2>
		<p>Neque viverra justo nec ultrices dui. Est ultricies integer quis auctor elit.</p>
	</div>
	<div class="">
		<Icon name="ph:crown-bold" size="1.33em" /> 
		<h2>Leader</h2>
		<p>Urna porttitor rhoncus dolor purus non enim praesent ornare.</p>
	</div>
</section>

<style>
	.box {





	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
