---
import { Icon } from 'astro-icon';
---

<section class="skills">
	<div>
		<Icon name="ph:crown-bold" width="1.33em" /> 
		<h2>Technical / Creative Leader</h2>
		<p>I am dedicated to leading fast-paced teams and projects with a hands-on approach.  With the big picture in mind, I love to push team members to explore premium e-commerce design and technical solutions that stays within a realistic time and budget.</p>
	</div>
	<div>
		<Icon name="ph:code" width="1.33em" /> 
		<h2>Technical Architect / Developer</h2>
		<p>I am a calculated problem solver and lifelong learner. I combine comprehensive thinking with technical expertise to design and build unique, stable, and scalable digital solutions. My love for details has proven an immediate and longterm value to multiple businesses. </p>
	</div>
	<div>
		<Icon name="ph:pencil-line" width="1.33em" /> 
		<h2>UI/UX Design</h2>
		<p>I am a user-centric designer that always focuses on empathy, user research/data, and creative problem-solving for delivering successful and impactful user experiences.</p>
	</div>

</section>

<style>
	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin-top: 4rem;
	}

	.skills h2 {
		font-size: var(--text-med);
	}


	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-lg);
		}
	}
</style>
